h1 {
    margin: 0 0 20px;
    font-weight: 400;
    color: orange;
    }
    p {
    margin: 0 0 5px;
    }
    .main-block {
    font-family: Roboto, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: #1c87c9; */
    /* background: linear-gradient(180deg, #dbc374 26.71%, #9b5b18 99.36%); */
    }
    .contactfromed {
    padding: 25px;
    margin: 25px;
    box-shadow: 0 2px 5px #f5f5f5; 
    /* background: #f5f5f5;  */
    }
   .name{
    width: calc(100% - 18px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #fb982f;
    outline: none;
    }
    input::placeholder {
    color: #666;
    }
    .submitefromed {
    width: 50%;
    padding: 10px;
    border: none;
    background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
    box-shadow: 0px 20px 24px 3px rgb(251 161 40 / 42%);
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    }
    .submitefromed:hover {
    background: white;
    color:#fb982f;
    border: 1px solid rgb(251 161 40 / 42%);

    } 
    @media (min-width: 568px) {
    .main-block {
    flex-direction: row;
    }
    .left-part, form {
    width: 50%;
    }
    .fa-envelope {
    margin-top: 0;
    margin-left: 20%;
    }
    .fa-at {
    margin-top: -10%;
    margin-left: 65%;
    }
    .fa-mail-bulk {
    margin-top: 2%;
    margin-left: 28%;
    }
    }