.toggle{
    display: flex;
    justify-content:space-between;
    border: 3px solid orange;
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;
    width: 56px;
    margin: 5px;
    height: 30px;


}
.toggle>*{
    width: 1.2rem;
    height: 1.2rem;
    color: orange;
}
.t-button{
    border-radius: 100%;
    background: orange;
    position: absolute;
}